.homeHeaderBg{
       background: url(../../../public/images/bg/homeBg2.jpg);
       height: 70vh;
       background-size: cover;
}
.homeHeaderBg-layout{
       background-color: #302f2faf;
}
.welcomeNote{
       background:linear-gradient(135deg,rgb(163, 179, 193),rgb(142, 196, 240)) ;
       font-size: 2.5rem;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
}
.home-second-bg{
       width: 100%;
       height: 50vh;
       background: url(../../../public/images/bg/applewatch2.jpg);
       background-size: cover;
       background-attachment: fixed;
}
.home-third-bg{
       width: 100%;
       height: 50vh;
       background: url(../../../public/images/bg/macbook1.jpg);
       background-size: cover;
       background-attachment: fixed;
}
.new-product-header{
       height: 15vh;
       font-size: 2rem;
}