.product-page-contant{
       width: 90%;
       padding-bottom: 5vh;
       border-bottom: 3px solid gray;
}
.product-page-images-container-box{
       border-radius: 1rem;
       background-color: rgba(137, 137, 137, 0.279);
       box-shadow: 0px 0px 10px 1px snow;
}
.product-md-lg-img-container{
border-top-right-radius: 1rem;
border-top-left-radius: 1rem;
}
.product-md-sm-img{
       border: 1px solid #eeecec89;
       background-color: #fff;
       cursor: pointer;
}
.product-title{
       font-size: 1.2rem;
}
.product-mini-infos{
       color: #909090;
       font-size: .8rem;
}
.product-mini-infos a{
       color: #909090;
}
.color-box-title{
       font-size: 1.2rem;
}
.color-box{
       width: 40px;
       height: 40px;
       padding: .2rem;
       background-color: #fff;
       cursor: pointer;
}
.up-property-space{
       height: 2vh;
       border-radius: 1rem;
       background-color: #c1c0c02a;
}
.product-properties-container{
       margin-top: 7vh;
}
.property-sub{
       color: #d8d6d6;
       font-weight: 500;
}
.back-product{
       font-size: .8rem;
}
.free-delivery{
       width: 50%;
       border: 1px solid rgba(141, 140, 140, 0.575);
       border-radius: 1rem;
}
.radkala-options-title{
       color: #909090;
}
.radkala-options-container{
       padding: 10vh 5vw;
       font-size: 1.2rem;
       border-bottom: 4px solid #90909094;
}
.product-page-sections-link{
       color: #ffffff98;
}
.product-page-sections-link:hover{
color: #fff;
}
.product-page-more-info-section-title{
       color: #d8d6d6;
       border-bottom:  4px solid rgba(255, 0, 0, 0.63);
       width: fit-content;
}
.product-page-more-info-section-text{
color: #d8d6d6;
}
#product-page-comments-container{
       margin: 15vh 0;
}
.comment-container{
       border: 1px solid white;
       padding: 1vh 2vw;
       border-radius: 1rem;
       background-color: #9090904e;
}
.comment-user-name{
       font-size: 1rem;
       color: #bcbaba;
}
.user-new-comment-container{
       width: 80%;
}
.your-comment-title{
       color: #d0cdcd;
       font-size: 1.2rem;
}
.product-page-price{
       color: #a5a5a5;
       text-decoration: line-through;
}
.product-price{
position: fixed;
width: 100%;
bottom: 0;
height: 10vh;
}