.navbar {
       background: #444444;
       position: sticky;
       top: 0;
      width: 100vw;
       z-index: 2;
}
.navbar-toggler{   
       background-color: #fff;
}

.nav-items{
       font-size: 1.1rem;
       font-weight: 500;
       transition: all .7s;
       color: aliceblue;
       border-radius: .8rem;
       padding: .7rem 1.5rem !important;
       margin-right: .7rem;
}
.nav-items:hover{
       color: #fff;
       box-shadow: 0px 3px 10px 1px white;
}
.cart-icon{
       font-size: 1.5rem;
       color: aliceblue;
}
.navbar-search-icon{
       height: 100%;
       width: 2rem;
       font-size: 1.1rem !important;
       top: 0;
       left: 10%;
       color: #444;
}
.cart-badge{
width: 70%;
       padding: .05rem;
       top: 0;
       right: -15%;
       font-weight: 500;
       animation: cartAnim 2s alternate infinite ;
}
@keyframes cartAnim{
       0%{
              transform: scale(.5)rotate(-10deg);
       }
       100%{
              transform: scale(1)rotate(10deg);
       }
}